body{
    font-family: "Roboto Condensed";
    background-color:#121212;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Roboto Condensed";
    font-weight: 700;
    color:#fff;
}

p{
    color:#ffff;
}
.contact{
    color:#dc3545;
    text-align: center;
}
.headline{
    text-align: center;
}

#brand:hover{
    color:#dc3545;
}
.navbar-collapse{
    padding-bottom: 280px;
    padding-left: 200px;
}
.navbar-nav {
    background-color: #121212;

}

.navbar{
    padding-left:0rem;
}

.navbar-brand:hover{
    color:#dc3545;

}
.navbar-brand{
    padding-top:15px;
    margin-bottom:300px;
    margin-left: 200px;

}


.nav-item {
    padding: 0 18px;
}

#title .container-fluid{
    padding: 3% 15% 0%;
}
.fighter{
    border: 1px solid white;
    padding:10px;
    margin-bottom: 17.5rem;

}
.container-fluid{
    padding: 7% 15%;
}

#footer{
    text-align: center;
    background-color:#d1d1d1;
    margin-top:15rem;
}

.social-icon:hover{
    color:#dc3545;
}
.social-icon{
    margin: 20px 10px;
    font-size: 1.5rem;
}

.copyright{
    color: #8f8f8f;
}

<!-- Contact form -->

body { background:rgb(30,30,40); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #dc3545;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    background:#da2c43;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
[type="submit"]:hover { background:#dc3545; }


