body{
    font-family: "Roboto Condensed";
    background-color:#121212;
}
h1, h3, h4, h5, h6{
    font-family: "Roboto Condensed";
    font-weight: 700;
    color:#ffff;
}

p{
    color:#ffff;
}
.succes{
    color:#121212;
    text-align: center;
}

.success-title , .application{
    color: #218f22;
}

.application{
    padding-bottom: 20px;
}


.contact{
    color:#dc3545;
    text-align: center;
    padding-bottom: 20px;
}
.headline{
    text-align: center;
}

#brand:hover{
    color:#dc3545;
}
.navbar-collapse{
    padding-bottom: 280px;
    padding-left: 200px;
}
.navbar-nav {
    background-color: #121212;

}

.navbar{
    padding-left:0rem;
}

.navbar-brand:hover{
    color:#dc3545;

}
.navbar-brand{
    padding-top:15px;
    margin-bottom:300px;
    margin-left: 200px;

}


.nav-item {
    padding: 0 18px;
}

#title .container-fluid{
    padding: 3% 15% 0%;
}
.fighter{
    border: 1px solid white;
    padding:10px;
    margin-bottom: 17.5rem;

}
.container-fluid{
    padding: 7% 15%;
}

#footer{
    text-align: center;
    background-color:#d1d1d1;
    margin-top:15rem;
}

.social-icon:hover{
    color:#dc3545;
}
.social-icon{
    margin: 20px 10px;
    font-size: 1.5rem;
}

.copyright{
    color: #8f8f8f;
}

.contact-form{
    margin-left: 850px;
}