body{
    font-family: "Roboto Condensed";
    background-color:#121212;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Roboto Condensed";
    font-weight: 700;
    color:#fff;
}

p{
    color:#ffff;
}
.table-title{
    color:#ffff;
}
.table-data{
 color:  rgba(238, 238, 238, 0.76) ;
}

.container-fluid{
    padding: 7% 15%;
}

#brand:hover{
    color:#dc3545;
}
.navbar-collapse{
    padding-bottom: 280px;
    padding-left: 200px;
}
.navbar-nav {
    background-color: #121212;

}

.navbar{
    padding-left:0rem;
}

.navbar-brand:hover{
    color:#dc3545;

}
.navbar-brand{
    padding-top:15px;
    margin-bottom:300px;
    margin-left: 200px;
    letter-spacing: 1px;


}


.nav-item {
    padding: 0 18px;
}

#title .container-fluid{
    padding: 3% 15% 0%;
}
.fighter{
    border: 1px solid white;
    padding:10px;
    margin-bottom: 17.5rem;
}
.fighters-title{
    color:#dc3545;
    margin-left: 870px;
    padding-bottom: 10px;
}
#fighters{
    background-color: rgba(238, 238, 238, 0.76);
    max-width: 700px;
    margin-left: 600px;
    background-color: #121212;

}
#fighters td,th{
    border-top:0;
}

#footer{
    text-align: center;
    background-color:#d1d1d1;
    margin-top:15rem;
}

.social-icon:hover{
    color:#dc3545;
}
.social-icon{
    margin: 20px 10px;
    font-size: 1.5rem;
}

.copyright{
    color: #8f8f8f;
}
.form{
    padding-left: 50rem;
}
