
body{
    font-family: "Roboto Condensed";
}

h1, h2, h3, h4, h5, h6{
    font-family: "Roboto Condensed";
    font-weight: 700;
    color:#fff;
}

p{
    color: #fff;
}

.row{
    background-color: #121212;
    padding-left: 280px;
}
.table-title{
    color:#ffffff;
}
.table-data{
    color: rgba(238, 238, 238, 0.76);
}
#fighters .table{
    background-color: #121212;
}
#fighters{
    background-color:#121212;
    max-width: 800px;
    margin-left:600px;
    margin-bottom:0;

}
.fighter-name{
    color:#dc3545;
    margin-left: 900px;
}
.fighter-table{
    background-color: #121212;
    margin-bottom: 0;
    padding-bottom:20px;
}
#brand:hover{
    color:#dc3545;
}
#title{
    background-color: #121212;
    text-align: left;
}

#title .container-fluid{
    padding: 3% 15%;
}

.fighter{
    border: 1px solid white;
    padding:10px;
    margin-bottom: 17.5rem;

}
.bruce-lee{
    border: 1px solid white;
    padding:10px;
    margin-bottom:100px;
}

.container-fluid{
    padding: 7% 15%;
}

.navbar-collapse{
    padding-bottom: 280px;
    padding-left: 200px;
}
.navbar-nav {
    background-color: #121212;

}

 .navbar{
     padding-left:0rem;
}

.navbar:hover{
    color:#dc3545;

}
.navbar-brand{
    padding-top:15px;
    margin-bottom:300px;
    margin-left: 200px;
    letter-spacing: 1px;

}
.nav-item{
    padding:0 18px;

}
.big-heading{
    padding-bottom:2.5rem;
}
#footer{
    text-align: center;
    background-color:#d1d1d1;
}

.social-icon:hover{
    color:#dc3545;
}
.social-icon{
    margin: 25px 15px;
    font-size: 1.5rem;

}

.copyright{
    color: #8f8f8f;
}
.title-image {
    width: 80%;
    height: 80%;
    transform: rotate(25deg);

}
