<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Legends</title>
</head>
<body>

<h1 th:text="'Legends'">Legends</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="legend : ${legends}"></tr>
    <td th:text="${legend.id}"></td>
    <td th:text="${legend.firstName}">Mirko</td>
    <td th:text="${legend.lastName}">Cro Swat</td>
    </tr>
    </tbody>
</table>
</body>
</html>